[tool.ruff]
line-length = 88
lint.extend-select = ["I"]  # isort
exclude = ["venv", ".venv"]

[tool.black]
line-length = 120
target-version = ["py311"]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
strict = true
warn_unused_configs = true
disallow_untyped_defs = true
